* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 40px;
}

div section {
    display: flex;
    flex-direction: column;
    max-height: 23%;
    max-width: 23%;
}

div section h2 {
    margin: 20px 0;
}

div section a {
    display: flex;
    margin: 20px solid;
    background-color: #1f969e;
    margin: 20px 0;
    width: 120px;
    border-radius: 7px;
    justify-content: center;
    font-size: 20px;
    height: 50px;
    align-items: center;
    color: #ffffff;
}

.container2 {
    background-image: url(../image/fundo.jpg);
    background-size: cover;
    width: 100vw;
    height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    display: flex;
    background-color: rgb(255, 255, 255, 0.5);
    min-width: 80%;
    min-height: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    padding: 20px;
}

section h1 {
    display: flex;
    font-size: 35px;
    width: 50%;
    justify-content: center;
    text-align: center;
}

section kbd {
    display: flex;
    background-color: #ffffff;
    color: gray;
    padding: 20px;
    min-width: 60%;   
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

section div p {
    display: flex;
    background-color: #1f969e;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

section div p:hover {
    padding: 30px;
    color: red;
    transition: 0.5s;
}

footer {
    display: flex;
    background-color: rgba(19, 18, 18, 0.753);
    width: 100%;
    height: 20vh;
    margin-top: 10px;
}